In [1]:
class MyClass:
    '''
    This is the docstring for MyClass.
    '''
    
    att = 'hello'
    
    def __init__(self, name):
        self.name = name
        
    def add(self):
        print(att + ' ' + self.name)

In [4]:
dat = MyClass('Minnie')

In [5]:
dat.att

'hello'

In [6]:
dat.name

'Minnie'

In [7]:
dat.add()

NameError: name 'att' is not defined

In [ ]:
class Student:
    
    def store_grades(self, grades):
        self.grades = pd.Series(data=grades, dtype=float)

    def __init__(self, first_name, last_name, ID):
        self.name = first_name + ' ' + last_name
        self.ID = ID
        
    def add_assign(self, assign, grade):
        self.grades['assign'] = grade
    
      def plot_bar(self):
        pd.Series(self.grades).plot.bar(title="Grades Bar Chart")