In [1]:
val = 5
if -10 < val < -5:
    print('bucket1')
elif -5 <= val < -2:
    print('bucket2')
elif val == -2:
    print('bucket3')
else:
    print('bucket4')

bucket4

In [6]:
xx = [-2,8,0,5,6]
max_val = max(xx)
for x in xx:
    if x < max_val:
        print(x)
    else:
        print(max_val)
        
for x in xx:
    print(x) if x < max_val else print(max_val)

-2
8
0
5
6
-2
8
0
5
6

In [4]:
it = 0
max_iter = 100
while(it < max_iter):
    if(it == 0 or it%10 == 0):
        print(it)
    it += 1

0
10
20
30
40
50
60
70
80
90

In [21]:
mylist = ["Lindley", "Joey", "Licorice", "Minnie"]
myclean = [print(wd.lower()) for wd in mylist]

lindley
joey
licorice
minnie

In [22]:
iterclean = iter(myclean)
print(next(iterclean))
print(next(iterclean))
print(next(iterclean))
print(next(iterclean))

None
None
None
None

In [23]:
names = iter(myclean)
_= [print(next(names)) for i in range(len(names))]

TypeError: object of type 'list_iterator' has no len()

In [33]:
mydict = {"Bartlett": 60103, "Charlottesville": 22903}
for k, v in mydict.items():
    print(k,v)

Bartlett 60103
Charlottesville 22903

In [28]:
_ = [print(cit,zi) for cit, zi in mydict.items()]

Bartlett 60103
Charlottesville 22903

In [34]:
for k in mydict.keys():
    print(f"{k}:\t{', '.join(mydict[k])}")

TypeError: can only join an iterable

In [39]:
mylist = [1,2,3,4,5,6,7,8,9,10]
_= [print(i**3) for i in mylist]

1
8
27
64
125
216
343
512
729
1000

In [44]:
mylist = ['string', '1', 'dog', '2', '3', '219', 'cat']
digits=  [wd for wd in mylist if wd.isdigit() == True]
digits

['1', '2', '3', '219']